*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  color: #000000;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1908px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.brand__box {
  padding-top: 19px;
}
.brand__fieldset {
  border: 2px solid #c4c4c4;
}
.brand__legend {
  font-size: 24px;
  line-height: 2.83; /* 68/24 */
  text-transform: uppercase;
  padding: 0 23px;
  text-align: center;
}
.brand__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  gap: 35px;
  padding: 6px 10px 29px 9px;
  grid-template-rows: minmax(141px, 1fr);
}
.brand__link {
  display: inline-block;
}
.brand__image {
  max-width: 100%;
}