*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 0.75rem;
  color: #495057;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 79.375rem;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 77;
  background-color: rgba(0, 0, 0, 0.7);
}
.header__main-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.25rem 0rem;
}
.header__box-logo {
  z-index: 1;
}
.header__logo {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.38; /* 25/18 */
  color: #f8f9fa;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
}
.header__logo span {
  color: #ddbea9;
}
.header__box-search {
  position: relative;
}
.header__search::before {
  content: "";
  background-color: rgba(229, 229, 229, 0.5);
  width: 1px;
  height: 25px;
  display: block;
  top: -40%;
  left: -200%;
  position: absolute;
}
.header__image {
  max-width: 100%;
  width: 12px;
  height: 12px;
}

.right-box-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.0833333333em;
}
.right-box-header__box {
  padding-right: 2.0833333333em;
}
.right-box-header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.0833333333em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 41.25em) {
  .right-box-header__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.right-box-header__item {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.right-box-header__link {
  font-weight: 500;
  line-height: 2.08; /* 25/12 */
  color: rgba(248, 249, 250, 0.5);
  position: relative;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  display: inline-block;
}
.right-box-header__link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #ddbea9;
  border-radius: 2px;
  bottom: 0;
  -webkit-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
}
.right-box-header__link.active {
  color: #f8f9fa;
}
.right-box-header__link.active::before {
  width: 100%;
}

.right-box-header__item_parent {
  position: relative;
  padding-right: 1.0833333333em;
  margin-bottom: -3.3333333333em;
  padding-bottom: 3.3333333333em;
}

.right-box-header__item_parent::after {
  content: "";
  background: url(../img/header/row-down.svg);
  width: 8px;
  height: 5px;
  right: 0;
  top: 11px;
  position: absolute;
}

@media (min-width: 47.99875em) {
  .right-box-header__sub-menu {
    position: absolute;
    top: 100%;
    left: -40%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 2;
  }
}

.sub-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  background: #212529;
  border-radius: 5px;
  padding: 1.25em;
  min-width: 8.5rem;
}
.sub-menu__link {
  line-height: 2.08; /* 25/12 */
  color: rgba(248, 249, 250, 0.6);
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.header__burger {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  height: 40px;
  position: relative;
  display: none;
}

.header__burger span {
  display: block;
  width: 40px;
  height: 3px;
  margin-bottom: 0.5833333333em;
  position: relative;
  background: #495057;
}

.right-box-header__nav-open .header__burger span:nth-child(2) {
  opacity: 0;
}

.right-box-header__nav-open .header__burger span:nth-child(1) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 10px;
}

.right-box-header__nav-open .header__burger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: -10px;
}

.right-box-header__nav.active {
  display: block;
}

.page__top-block {
  position: relative;
}

.top-block__content {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.25em;
  min-height: 37.5rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 6.25rem;
}
.top-block__date {
  font-weight: 300;
  line-height: 1.66; /* 20/12 */
  color: #e5e5e5;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.top-block__box-about {
  max-width: 37.8125rem;
}
.top-block__about {
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 1.6; /* 40/25 */
  color: #f8f9fa;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.top-block__text {
  font-weight: 300;
  line-height: 1.66; /* 20/12 */
  color: #e5e5e5;
  max-width: 21.5625rem;
}
.top-block__box-image {
  padding-top: 34.930556%; /* 503/1440 */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.top-block__img {
  max-width: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.page__categories {
  padding: 6.25em 0;
}

.categories__top-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3.6666666667em;
}

.top-block-categories__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5833333333em;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.top-block-categories__category {
  font-weight: 500;
  line-height: 2.08; /* 25/12 */
  color: #495057;
}
.top-block-categories__plus {
  font-weight: 500;
  line-height: 2.08; /* 25/12 */
  color: #495057;
}
.top-block-categories__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}
.top-block-categories__link {
  font-weight: 500;
  line-height: 2.08; /* 25/12 */
  color: rgba(73, 80, 87, 0.5);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
}
.top-block-categories__link.active {
  color: #495057;
}

.examples-categories__columns {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 2.8125rem;
  margin-bottom: 3.75rem;
}
.examples-categories__cart {
  row-gap: 1.875rem;
  display: grid;
  grid-template-rows: auto 1fr;
}

.cart-categories__top-box {
  position: relative;
  overflow: hidden;
}
.cart-categories__image-link {
  position: relative;
  padding-bottom: 63.613232%; /* 250/393 */
  display: block;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.cart-categories__img {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cart-categories__creative {
  font-weight: 700;
  font-size: 0.5rem;
  line-height: 2.5; /* 20/8 */
  text-align: center;
  color: #f8f9fa;
  background: rgba(33, 37, 41, 0.3);
  border-radius: 3px;
  padding: 0.25em 1em;
  position: absolute;
  top: 12%;
  right: 7.63%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.cart-categories__bottom-box {
  row-gap: 0.9375rem;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}
.cart-categories__date {
  line-height: 1.66; /* 20/12 */
}
.cart-categories__about {
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 1.6; /* 40/25 */
  color: #212529;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.cart-categories__description {
  line-height: 1.66; /* 20/12 */
}
.cart-categories__box-author {
  padding-top: 1.25em;
  border-top: 1px solid #e5e5e5;
}
.cart-categories__author {
  line-height: 1.66; /* 20/12 */
}

.examples-categories__button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.examples-categories__btn {
  font-weight: 500;
  line-height: 2.08;
  text-align: center;
  color: #f8f9fa;
  padding: 0.5833333333em 4.1666666667em 0.6666666667em 4.0833333333em;
  background: #212529;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.page__topics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topics__left-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.5625rem;
  -ms-flex-preferred-size: 51.041667%;
      flex-basis: 51.041667%; /* 735/1440 */
  background: #212529;
  padding: 6.25rem 0.625rem 6.25rem 6.1875rem;
}

.left-box-topics__title {
  font-weight: 500;
  font-size: 1.5625rem;
  line-height: 80%; /* 20/25 */
  color: #f8f9fa;
}
.left-box-topics__cart-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 2.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-block__item {
  display: grid;
  gap: 1.875rem;
  grid-template-columns: 0.30234fr 0.69766fr;
}
.cart-block__link {
  position: relative;
  padding-top: 100%; /* 181/181 */
  display: block;
  width: 100%;
  overflow: hidden;
}
.cart-block__img {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.1875rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.cart-block__content {
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 0.9375rem;
}
.cart-block__date {
  line-height: 1.66; /* 20/12 */
  color: #e5e5e5;
}
.cart-block__box-about {
  max-width: 17.9375rem;
}
.cart-block__about {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.56; /* 25/16 */
  color: #f8f9fa;
}
.cart-block__text {
  line-height: 1.66; /* 20/12 */
  color: #e5e5e5;
  max-width: 17.9375rem;
}

.topics__right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 48.958333%;
      flex-basis: 48.958333%; /* 705/1440 */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  text-align: center;
}

.right-block-topics__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.right-block-topics__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.9375rem;
  z-index: 1;
  max-width: 24.5625rem;
}
.right-block-topics__title {
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 1.6; /* 40/25 */
  color: #f8f9fa;
}
.right-block-topics__text {
  line-height: 1.66; /* 20/12 */
  color: #e5e5e5;
}

.page__world {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.world__main-title {
  font-weight: 500;
  font-size: 1.5625rem;
  line-height: 0.8; /* 20/25 */
  margin-bottom: 2.4em;
}
.world__columns {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17.9375rem, 1fr));
  -webkit-column-gap: 1.8125rem;
     -moz-column-gap: 1.8125rem;
          column-gap: 1.8125rem;
  row-gap: 1.875rem;
}
.world__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.875rem;
}

.item-world__box-image {
  position: relative;
  padding-bottom: 69.686411%; /* 200/287 */
  overflow: hidden;
}
.item-world__img {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.item-world__creative {
  font-weight: 700;
  font-size: 0.5rem;
  line-height: 2.5; /* 20/8 */
  text-align: center;
  color: #f8f9fa;
  background: rgba(33, 37, 41, 0.3);
  border-radius: 3px;
  padding: 0.1875rem 0.75rem 0.125rem 0.8125rem;
  position: absolute;
  top: 12%;
  right: 7.63%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.item-world__box-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.9375rem;
}
.item-world__date {
  line-height: 1.66; /* 20/12 */
}
.item-world__about {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.56; /* 25/16 */
  color: #212529;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.item-world__text {
  line-height: 1.66; /* 20/12 */
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 68.75em) {
  .topics__left-box {
    padding: 1.875rem 0.625rem 1.875rem 1.875rem;
  }
}
@media (max-width: 59.9375em) {
  .page__topics {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cart-block__item {
    grid-template-columns: 1fr 1fr;
    gap: 0.9375rem;
  }
  .topics__left-box {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 59.25em) {
  .page__world,
  .page__categories {
    padding: 3.125rem 0;
  }
  .world__main-title {
    margin-bottom: 1.875rem;
  }
}
@media (max-width: 47.99875em) {
  .header__burger {
    display: block;
  }
  .right-box-header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .right-box-header__box {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    background-color: #91a7bc;
    padding: 5.625rem 0.9375rem 1.25rem 0.9375rem;
    -webkit-transition: left 0.3s;
    -o-transition: left 0.3s;
    transition: left 0.3s;
  }
  .right-box-header__nav.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .right-box-header__items {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .right-box-header__link {
    font-size: 1.25rem;
  }
  .right-box-header__item_parent::after {
    display: none;
  }
  .right-box-header__box::before {
    content: "";
    height: 4.375em;
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 3;
    -webkit-transition: left 0.3s;
    -o-transition: left 0.3s;
    transition: left 0.3s;
  }
  .right-box-header__nav-open .right-box-header__box,
  .right-box-header__nav-open .right-box-header__box::before {
    left: 0;
  }
  .sub-menu__link {
    font-size: 1rem;
  }
  .top-block__content {
    padding-bottom: 3.125rem;
  }
}
@media (max-width: 38.1875em) {
  .cart-block__item {
    grid-template-columns: 1fr;
  }
  .topics__left-box {
    padding: 1.875rem 0.9375rem;
  }
}
@media (any-hover: hover) {
  .right-box-header__link:hover {
    color: #f8f9fa;
  }
  .right-box-header__link:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ddbea9;
    border-radius: 2px;
    bottom: 0;
    -webkit-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
  }
  .right-box-header__item_parent:hover .right-box-header__sub-menu {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .sub-menu__link:hover {
    color: #f8f9fa;
  }
  .header__logo:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
  .top-block__date:hover {
    text-decoration: underline;
  }
  .top-block__about:hover {
    text-decoration: underline;
  }
  .top-block-categories__left:hover {
    text-decoration: underline;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
  .top-block-categories__link:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
  .cart-categories__creative:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
  .cart-categories__image-link:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
  .cart-categories__date:hover {
    text-decoration: underline;
  }
  .cart-categories__author:hover {
    text-decoration: underline;
  }
  .cart-categories__about:hover {
    color: #ccd5ae;
  }
  .examples-categories__btn:hover {
    background: #f8f9fa;
    color: #212529;
    border: 1px #212529 solid;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
  .right-block-topics__title:hover {
    text-decoration: underline;
  }
  .cart-block__date:hover {
    text-decoration: underline;
  }
  .cart-block__about:hover {
    text-decoration: underline;
  }
  .cart-block__link:hover .cart-block__img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
  .item-world__creative:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
  .item-world__img:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
  .item-world__date:hover {
    text-decoration: underline;
  }
  .item-world__about:hover {
    color: #ccd5ae;
  }
}