@use "sass:math";

@import "_reset.scss";
@import "_common.scss";

.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  color: #000000;
}

.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1908px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.page {
  // .page__brand
  &__brand {
  }
}
.brand {
  // .brand__box
  &__box {
    padding-top: 19px;
    margin-bottom: 30px;
  }
  // .brand__fieldset
  &__fieldset {
    border: 2px solid #c4c4c4;
  }
  // .brand__legend
  &__legend {
    font-size: 24px;
    line-height: 2.83; /* 68/24 */
    text-transform: uppercase;
    padding: 0 23px;
    text-align: center;
  }
  // .brand__items
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
    align-items: center;
    justify-items: center;
    column-gap: 35px;
    row-gap: 15px;
    padding: 6px 10px 29px 9px;
    // grid-template-rows: minmax(141px, 1fr);
    // @media (max-width: 827px) {
    //   grid-template-columns: repeat(2, 1fr);
    // }
  }
  // .brand__item
  &__item {
    @media (max-width: 558px) {
      // border: 2px solid #c4c4c4;
    }
  }
  // .brand__link
  &__link {
    display: inline-block;
    padding: 52px;
    @media (max-width: 558px) {
      padding: 22px;
    }
    // position: relative;
    // overflow: hidden;
    // transition: all 0.3s;
    // padding-bottom: 60%;
  }
  // .brand__image
  &__image {
    max-width: 100%;
    // position: absolute;
    // width: 100%;
    // height: 100%;
    // top: 0;
    // left: 0;
    // object-fit: cover;
  }
}

.page {
  // .page__look
  &__look {
    margin-bottom: 30px;
  }
}
.look {
  // .look__column
  &__column {
    display: grid;
    column-gap: 29px;
    row-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    @media (max-width: 1111px) {
      grid-template-columns: repeat(1, 1fr);
    }
    @media (max-width: 655px) {
      gap: 15px;
    }
  }
  // .look__box
  &__box {
    // display: flex;
    // justify-content: flex-end;
    // background-image: url(../img/look/01.webp);
    // background: url(../img/look/01.webp) left no-repeat, linear-gradient(270deg, rgba(241, 239, 240, 0) 0%, #F1F0F0 10.79%, #F3F0EF 98.67%);
    // background-color: #f3f0ef;
  }
}
.box-look {
  display: flex;
  background-color: #f3f0ef;
  position: relative;
  // &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
    left: 0;
  }
  &::after {
    background-color: rgba(0, 0, 0, 0.08);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }
  &:not(:nth-child(2)) {
    justify-content: flex-end;
    align-items: center;
    // &::before {
    //   background: linear-gradient(
    //     to left,
    //     rgba(241, 239, 240, 0) 0%,
    //     #f1f0f0 0%,
    //     #f3f0ef 50%,
    //     transparent 57%
    //   );
    // }
  }
  &:nth-child(2) {
    grid-row: span 2;
    // &::before {
    //   background: linear-gradient(
    //     to right,
    //     rgba(241, 239, 240, 0) 0%,
    //     #e2ded6 0%,
    //     #e2ded6 20%,
    //     transparent 30%
    //   );
    // }
    .box-look__left-block {
      right: 0;
      left: auto;
      width: 100%;
    }
    .box-look__right-block {
      padding: 0 63px 103px 86px;
      @media (max-width: 1111px) {
        padding-top: 50px;
        padding-left: 20px;
      }
    }
  }
  @media (any-hover: hover) {
    &:hover {
      &::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  // .box-look_choose
  &_choose {
  }
  // .box-look_brand
  &_brand {
  }
  // .box-look_up-to
  &_up-to {
    align-items: flex-end;
  }
  // .box-look__left-block
  &__left-block {
    // overflow: hidden;
    // position: relative;
    // padding-bottom: 96.875%; /* 434/448 */
    // transition: all 0.3s;
    // width: 100%;
    transition: all 0.3s;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  // .box-look__image
  &__image {
    max-width: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  // .box-look__right-block
  &__right-block {
    // padding-left: 43px;
    // padding-right: 163px;
    // padding-top: 82px;
    // padding: 82px 64px 83px;
    // padding-top: 82px;
    // padding-right: 163px;
    // background: linear-gradient(270deg, rgba(241, 239, 240, 0) 0%, #F1F0F0 10.79%, #F3F0EF 98.67%);
    // background-color: #F3F0EF;
    padding: 80px 156px 80px 0;
    position: relative;
    z-index: 2;
    @media (max-width: 1448px) {
      padding-right: 50px;
    }
    @media (max-width: 655px) {
      padding-right: 20px;
    }
  }
  // .box-look__title
  &__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.29; /* 62/48 */
    text-transform: uppercase;
    margin-bottom: 7px;
    max-width: 221px;
    @media (max-width: 1448px) {
      font-size: 24px;
    }
  }

  .box-look__title_big {
    font-weight: 600;
    font-size: 96px;
    line-height: 1.14; /* 110/96 */
    text-transform: uppercase;
    color: #131313;
    max-width: 357px;
    @media (max-width: 1800px) {
      font-size: 48px;
    }
    @media (max-width: 1448px) {
      font-size: 24px;
    }
  }
  // .box-look__text
  &__text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 1.68; /* 37/22 */
    letter-spacing: 0.01em;
    margin-bottom: 51px;
    @media (max-width: 1448px) {
      margin-bottom: 20px;
      font-size: 18px;
    }
  }
  // .box-look__link
  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5; /* 27/18 */
    display: inline-flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border: 2px solid #000000;
    padding: 18px 45px;
    transition: all 0.3s;
  }
}

// .box-look_up-to .box-look__left-block {
//   position: relative;
//   padding-top: 97%;
// }

.box-look.box-look_brand {
  justify-content: flex-start;
}

.box-look_brand .box-look__right-block {
  padding: 115px 0 115px 94px;
  @media (max-width: 1111px) {
    padding-left: 20px;
  }
}

// .box-look_brand .box-look__left-block {
//   width: 60%;
// }

.box-look_brand .box-look__title {
  max-width: 369px;
}

.page__shop {
  margin-bottom: 24px;
}

.shop__column {
  display: grid;
  // grid-template-columns: minmax(394px, 1fr) auto;
  // grid-template-columns: minmax(394px, 1fr) 1fr;
  // grid-template-columns: 21% 77.6%;
  // grid-template-columns: minmax(394px, 1fr) minmax(1454px, 1fr);
  grid-template-columns: 394px 1fr;
  gap: 30px;
}

.shop {
  // .shop__left-block
  &__left-block {
    padding-top: 18px;
    border-right: 1px solid #c4c4c4;
  }
}
.block-left-shop {
  // .block-left-shop__title
  &__title {
    font-size: 24px;
    line-height: 2.83; /* 68/24 */
    // margin-bottom: 31px;
  }
  // .block-left-shop__form
  &__form {
  }
  // .block-left-shop__checkbox-block
  &__checkbox-block {
    display: flex;
    align-items: center;
  }
}
.checkbox-block {
  // .checkbox-block__input
  &__input {
    appearance: none;
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }
  // .checkbox-block__label
  &__label {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 4.85; /* 68/14 */
    text-transform: uppercase;
    color: #3f3f3f;
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 9px;
    &::before {
      content: "";
      background: #ffffff;
      border: 1px solid #828282;
      width: 10px;
      height: 10px;
    }
  }
}

.shop {
  // .shop__right-block
  &__right-block {
  }
}

.right-block-shop__items {
  display: grid;
  column-gap: 26px;
  row-gap: 48px;
  grid-template-columns: repeat(auto-fit, minmax(344px, 1fr));
  margin-bottom: 63px;
}

.right-block-shop {
  // .right-block-shop__item
  &__item {
    display: flex;
    flex-direction: column;
  }
  // .right-block-shop__block-image
  &__block-image {
    overflow: hidden;
    position: relative;
    padding-bottom: 130.813953%; /* 450/344 */
    transition: all 0.3s;
    width: 100%;
    margin-bottom: 16px;
  }
  // .right-block-shop__link
  &__link {
  }
  // .right-block-shop__img
  &__img {
    max-width: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: all 0.3s;
  }
  // .right-block-shop__category
  &__category {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.5; /* 18/12 */
    text-transform: uppercase;
    color: #bdbdbd;
    margin-bottom: 2px;
  }
  // .right-block-shop__about
  &__about {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5; /* 27/18 */
    margin-bottom: 18px;
  }
  // .right-block-shop__price
  &__price {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.5%; /* 33/22 */
    text-transform: uppercase;

    &.color {
      color: #eb5757;
      position: relative;
    }
    &.color::after {
      content: "119,00 EUR";
      width: 100%;
      height: 100%;
      font-size: 14px;
      line-height: 1.5; /* 21/14 */
      text-transform: uppercase;
      color: #828282;
      text-decoration: line-through;
      bottom: 9px;
      left: 106px;
      position: absolute;
    }
  }
}

.checkbox-block__input:checked + .checkbox-block__label::before {
  content: "";
  background-image: url(../img/shop/row-cheked.svg);
  // background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  flex: 0 0 10px;
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
}

.right-block-shop {
  // .right-block-shop__block-button
  &__block-button {
    margin-bottom: 39px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  // .right-block-shop__btn
  &__btn {
    border: 2px solid #c4c4c4;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5; /* 21/14 */
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #828282;
    padding: 8px 36px;
    transition: transform 0.3s;
  }
}

.page {
  // .page__limits
  &__limits {
    margin-bottom: 77px;
  }
}
.limits {
  // .limits__box
  &__box {
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 24.86%;
    padding-left: 269px;
    padding-top: 96px;
  }
  // .limits__left-block
  &__left-block {
    position: relative;
    max-width: 639px;
    padding-top: 19px;
    z-index: 1;
  }
  // .limits__block-image
  &__block-image {
  }
  // .limits__image
  &__image {
    max-width: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
.left-block-limits {
  // .left-block-limits__top
  &__top {
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    width: 602px;
    height: 101px;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  // .left-block-limits__title
  &__title {
    font-weight: 500;
    font-size: 56px;
    line-height: 1.28; /* 72/56 */
    text-transform: uppercase;
    margin-bottom: 17px;
  }
  // .left-block-limits__text
  &__text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 25px;
    line-height: 1.48; /* 37/25 */
    letter-spacing: 0.01em;
    margin-bottom: 24px;
  }
  // .left-block-limits__bottom
  &__bottom {
  }
  // .left-block-limits__link
  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5; /* 27/18 */
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border: 2px solid #000000;
    padding: 7px 45px;
    display: inline-block;
  }
}

@media (any-hover: hover) {
  .brand__link:hover {
    background-color: #f0f2f2;
  }
  .look__box:hover {
    // background: url(../img/look/01.webp) left no-repeat, rgba(0, 0, 0, 0.08);
    background: rgba(0, 0, 0, 0.08);
  }
  .box-look__link:hover {
    transform: scaleX(1.05);
    // border: 2px solid #828282;
  }
  .right-block-shop__block-image:hover .right-block-shop__img {
    transform: scale(1.05);
  }
  .right-block-shop__btn:hover {
    transform: scale(1.05);
  }
}
