@use "sass:math";

@import "_reset.scss";
@import "_common.scss";

.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  color: #000000;
}

.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1908px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.page {
  // .page__brand
  &__brand {
  }
}
.brand {
  // .brand__box
  &__box {
    padding-top: 19px;
    margin-bottom: 30px;
  }
  // .brand__fieldset
  &__fieldset {
    border: 2px solid #c4c4c4;
  }
  // .brand__legend
  &__legend {
    font-size: 24px;
    line-height: 2.83; /* 68/24 */
    text-transform: uppercase;
    padding: 0 23px;
    text-align: center;
  }
  // .brand__items
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
    align-items: center;
    justify-items: center;
    column-gap: 35px;
    row-gap: 15px;
    padding: 6px 10px 29px 9px;
    // grid-template-rows: minmax(141px, 1fr);
  }
  // .brand__item
  &__item {
  }
  // .brand__link
  &__link {
    display: inline-block;
    padding: 52px;
    @media (max-width: 558px) {
      padding: 22px;
    }
    // position: relative;
    // overflow: hidden;
    // transition: all 0.3s;
    // padding-bottom: 60%;
  }
  // .brand__image
  &__image {
    max-width: 100%;
    // position: absolute;
    // width: 100%;
    // height: 100%;
    // top: 0;
    // left: 0;
    // object-fit: cover;
  }
}

.page {
  // .page__look
  &__look {
  }
}
.look {
  // .look__column
  &__column {
    display: grid;
    column-gap: 29px;
    row-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
  // .look__box
  &__box {
    display: flex;
  }
}
.box-look {
  // .box-look__left-block
  &__left-block {
    overflow: hidden;
    position: relative;
    padding-bottom: 96.875%; /* 434/448 */
    transition: all 0.3s;
    width: 100%;
  }
  // .box-look__image
  &__image {
    max-width: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  // .box-look__right-block
  &__right-block {
    padding-left: 43px;
    padding-top: 82px;
    background: linear-gradient(270deg, rgba(241, 239, 240, 0) 0%, #F1F0F0 10.79%, #F3F0EF 98.67%);
  }
  // .box-look__title
  &__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.29; /* 62/48 */
    text-transform: uppercase;
    margin-bottom: 7px;
  }
  // .box-look__text
  &__text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 1.68; /* 37/22 */
    letter-spacing: 0.01em;
    margin-bottom: 51px;
  }
  // .box-look__link
  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5; /* 27/18 */
    display: inline-flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border: 2px solid #000000;
    padding: 18px 45px;
  }
}

@media (any-hover: hover) {
  .brand__link:hover {
    background-color: #f0f2f2;
  }
}
