@import url(reset.css);

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5625rem;
    color: #6C757D;
}

.main-container {
    padding: 115px 10px 182px;
    margin: 0 auto;
    max-width: 1260px;
}

.second-container {
    max-width: 836px;
    margin: 0 auto;
    padding: 0px 10px;
}

h1 {
    display: none;
}

h2 {
    font-weight: 700;
    font-size: 25px;
    line-height: 2.5rem;
    color: #212529;
    margin-bottom: 40px;
}

.first-title {
    max-width: 400px;
}

.first-text-block {
    margin-bottom: 80px;
}

.first-text-block-par-1 {
    margin-bottom: 25px;
}

.second-title {
    max-width: 605px;
}

.desert-container {
    margin-bottom: 80px;
}

img {
    border-radius: 5px;
    margin-left: 100px;
    margin-right: 100px;
    max-width: 100%;
    text-align: center;
}

.img {
    margin: 0 auto;
}

.img-container {
    display: inline-block;
    text-align: center;
    margin-bottom: 80px;
    font-size: 0px;
}

.img-container-first-img, 
.img-container-second-img {
    margin: 0 auto;
}

.img-container-first-img {
    margin-right: 30px;
}

.second-container {
    margin-bottom: 80px;
}

a {
    font-size: 60px;
    color: royalblue;
}


.block {
    background-color: rgb(30, 255, 0);
    padding: 10px 15px 25px 45px;
    margin: 20px 40px;
    width: 500px;
    height: 600px;
    box-sizing: content-box;
    overflow: scroll;
    display: block;
    margin: 0 auto;
}

.span {
    background-color: rgb(29, 203, 197);
    padding: 10px 15px 25px 45px;
    margin: 20px 40px;
    max-width: 500px;
    min-height: 600px;
    box-sizing: content-box;
    overflow: hidden;
    vertical-align: middle;
    display: inline;
    margin: 0 auto;
}

.img-test {
    background-color: rgb(235, 231, 19);
    padding: 10px 15px 25px 45px;
    margin: 20px 40px;
    min-width: 500px;
    max-height: 600px;
    box-sizing: content-box;
    overflow: auto;
    display: inline-block;
    margin: 0 auto;
}